.margint50 { margin-top: 8px !important;}
#clockdiv{ font-family: sans-serif; color: #000; display: inline-block; text-align: center; font-size: 12px; margin: 2px 0 0 0%; width: 100%;}
#clockdiv > div{padding: 8px; display: inline-block;}
#clockdiv div > span{padding: 7px;background: #7aaf39;border: 8px solid #8dc53e;border-radius: 50%;color: white;font-weight: bolder;}
.smalltext{padding-bottom: 25px;font-size: 14px;font-family: 'Oswald', sans-serif;}
#clockdiv .days{padding: 7px 10px;}
@media screen and (max-width: 480px) {
	#clockdiv .days{padding: 15px 20px;}
	#clockdiv { font-size: 20px;}
	#clockdiv div > span { border: 5px solid #8dc53e;}
	#clockdiv > div{padding: 2px;}
}

