/framework/vendor
/framework/node_modules
/framework.env
/public_html/img
public_html/.htaccess
public_html/.htaccess
public_html/app
public_html/images
public_html/banners
public_html/includes
royalreservations06.09.2016.zip